
<div class="container">
  <h1>Profile</h1>
  <p class="tagline"><%=current_user.email%></p>
</div>


<div class="container">
  <div class="main">

  </div><!-- .main -->

  <div class="sidebar">

    <div class="widget">
      <img src="http://placehold.it/150x150" alt="Profile Picture" width="150">
      <h3 class="profile">Profile</h3>
    </div><!-- .widget -->


  </div><!-- .sidebar -->

  <div class="widget">
    <h3>Songs</h3>
    <ul>
      <li><a href="http://www.twitter.com/castig" target="_blank">Twitter</a></li>
      <li><a href="http://instagram.com/castig" target="_blank">Instagram</a></li>
      <li><a href="https://www.facebook.com/OneMonthRails" target="_blank">Facebook</a></li>
    </ul>
  </div>
  <div class="clear"></div>


</div><!-- .container -->
</body>
</html>
