<h1>Welcome to AlphatuneZ!<h1>
<p>Your friend (frenemy?), <%= params[:current_user] %> sent you an invite!</p>
<p>Create playlists and vote on your favorite songs!</p>

<a href="http://www.alphatunez.com">Alphatunez.com</a>
