<html>
  <head>
    <link rel = "stylesheet" href = "style.css">
    <title>AlphatuneZ</title>
  </head>
  <body>
    <h1>AlphatuneZ</h1>
    <% if current_user %>
      <p>Welcome, <%= current_user.email %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
