<html>
  <head>
    <link rel = "stylesheet" href = "style.css">
    <title>AlphatuneZ</title>
  </head>
  <body>
    <h1>
      <a href="/dashboard">AlphatuneZ</a>
    </h1>

    <!--navagation bar  -->
    <ul class= "bar">
      <% if current_user %>
        <li style="float:left"><a href="/account">Account</a></li>
        <li style="float:left"><a href="/dashboard">Suggest a Song</a></li>
        <li style="float:left"><a href="/previousplaylists">View the Latest Winning Playlist</a></li>
        <li style="float:right">
        <form action="/logout" method="POST">
          <button type="submit"value="Logout" class="button">Logout</button>
        </form>
        </li>
        <li style="float:right">
          <!-- <p>Invite Friend:</p> -->
          <form method="POST" class="invite-container" action="/invite">
            <input name="email" type="email" placeholder="friend's email"></input>
            <input name="current_user.email" type="hidden" value="<%= current_user.email %>"></input>
            <input type="submit" class="active" value="Invite">
          </form>
        </li>

      <% else %>
        <li style="float:right"><a href="/">Login</a></li>
        <li style="float:left"><a href="/dashboard">Song List</a></li>
        <li style="float:left"><a href="/previousplaylists">View the Previous Playlists</a></li>
      <% end %>
    </ul>

    <% if session[:message] %>
      <p><%= "#{session[:message]}"%></p>
      <% session.delete :message %>
    <% end %>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
