<html>
  <head>
    <link rel = "stylesheet" href = "style.css">
    <title>AlphatuneZ</title>
  </head>
  <body>
    <h1>
      <a href="/dashboard">AlphatuneZ</a>
    </h1>
    <!--navagation bar  -->
    <ul class= "bar">

      <% if current_user %>
        <li style="float:left"><a href="/account">Account</a></li>
        <li style="float:left"><a href="/dashboard">Suggest a Song</a></li>
        <li style="float:left"><a href="/previousplaylists">View the Previous Playlists</a></li>

        <li style="float:right">
        <form action="/logout" method="POST">
          <button type="submit"value="Logout" class="button">Logout</button>
        </form>
        </li>

      <% else %>
        <li style="float:right"><a href="/">Login</a></li>
        <li style="float:left"><a href="/previousplaylists">View the Previous Playlists</a></li>
      <% end %>
    </ul>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
