<html>
  <head>
    <link rel = "stylesheet" href = "style.css">
    <title>AlphatuneZ</title>
  </head>
  <body>
    <h1>AlphatuneZ</h1>
    <!--navagation bar  -->
    <ul class= "bar">
      <li><a href="#home">Home</a></li>
      <li><a href="#newsong">Suggest New Song</a></li>
      <li><a href="#playlist">Weekly Playlist</a></li>
      <li style="float:right">
        <% if current_user %>
          <p><%= current_user.email %></p>
          <form method="POST" action="/logout">
            <input type="submit" class="active" value="Logout">
          </form>
        <% else %>
          <a href="/">Login</a>
        <% end %>
      </li>
      <li >
        <% if current_user %>
          <p>Account</p>
          <form method="GET" action="/account">
            <input type="submit" class="active" value="Account">
          </form>
        <% end %>
      </li>
      <li style="float:right">
        <% if current_user %>
          <!-- <p>Invite Friend:</p> -->
          <form method="POST" class="invite-container" action="/invite">
            <input name="email" type="email" placeholder="friend's email"></input>
            <input type="submit" class="active" value="Invite">
          </form>
        <% end %>
      </li>
    </ul>
    <%= yield %>
  </body>
</html>
