<html>
  <head>
    <link rel = "stylesheet" href = "style.css">
    <title>AlphatuneZ</title>
  </head>
  <body>
    <h1>AlphatuneZ</h1>
    <!--navagation bar  -->
    <ul class= "bar">
      <li><a href="/dashboard">Suggest a Song</a></li>
      <li><a href="/account">Account</a></li>
      <li><a href="/previousplaylists">View the Previous Playlists</a></li>
      <li style="float:right">
      <!-- <li style="float:right"><a href="/logout">Logout</a> -->
        <form method="POST" action="/logout">
          <input type="submit" class="active" value="Logout">
        </form>
      </li>
      <li style="float:right"><a href="/">Login</a></li>
    </ul>
    <%= yield %>
  </body>
</html>
