<div class="centered-container">
  <p>Please put in your password below  </p>
  <form action="/userinfo" method="post">
    <input type= "email" name="username">
    <input type="password" name="password">
    <input type="submit">
  </form>
</div>
