<!-- color="#3d3b3c" -->

<html>
  <head>
    <link rel = "stylesheet" href = "style.css">
    <title>AlphatuneZ</title>
  </head>
  <body class="navbar">
    <div>
      <a href="/dashboard">AlphatuneZ</a>
      <img src="final.jpg" alt="MidiControlTop" style="width:90%">
    </div>

    <!-- <h1>
      <a href="/dashboard">AlphatuneZ</a>
   </h1> -->

  </body>
</html>
