<html>
  <head>
    <link rel = "stylesheet" href = "style.css">
    <title>AlphatuneZ</title>
  </head>
  <body class="navbar">
    <div>
      <img class="displayed" src="final.jpg" alt="MidiControlTop" style="width:90%">
      <h1>
        <a class="title" href="/dashboard">AlphatuneZ</a>
     </h1>
   <ul class= "bar">
     <% if current_user %>
       <li><a href="/account">Account</a></li>
       <li><a href="/dashboard">Suggest a Song</a></li>
       <li><a href="/previousplaylists">View the Previous Playlists</a></li>

       <li>
         <p>Invite Friend:</p>
          <form method="POST" class="invite-container" action="/invite">
           <input name="email" type="email" placeholder="friend's email"></input>
           <input name="current_user.email" type="hidden" value="<%= current_user.email %>"></input>
           <input type="submit" class="active" value="Invite">
         </form>
       </li>

       <li>
       <form action="/logout" method="POST">
         <button type="submit"value="Logout" class="button">Logout</button>
       </form>
       </li>

     <% else %>
       <li><a href="/">Login</a></li>
       <li><a href="/previousplaylists">View the Previous Playlists</a></li>
     <% end %>
   </ul>
</div>
  </body>
</html>
