<div class="login-modal">
    <div class="login-container">

        <div class=login>
          <p> Create a new account</p>
            <input id="username-login" placeholder="username" name="username2"></input>
        </div>
        <div>
            <input type="password"id="password-login" placeholder="password"></input>
        </div>
        <div>
            <input type="submit" class="submit">
    </div>
</div>
