<div class="login-modal">
    <form class="login-container" method="POST" action="/newuser">

        <div class=login>
          <p> Create a new account</p>
            <input id="username-login" placeholder="username" name="username"></input>
        </div>
        <div>
            <input type="password"id="password-login" placeholder="password" name="password"></input>
        </div>
        <div>
            <input type="submit" class="submit">
    </form>
</div>
