<div class="login-modal">
  <div class="login-container">
    <form method="POST" action="/password">
        <div class=passwordreset>
          <p>Reset Your Password</p>
            <input type="password" id="password-login" placeholder="Old password" name="oldpassword"></input>
        </div>
        <div>
            <input type="password" id="password-login" placeholder="New password" name="newpassword1"></input>
        </div>
        <div>
            <input type="password" id="password-login" placeholder="Reenter new" name="newpassword2"></input>
        </div>
        <div>
        <input type="submit" class="submit">


    </form>
  </div>
</div>
