<!-- <h2><%= @songs.count %> songs</h2> -->

<h2><%= "Last week's AlphatuneZ playlist:" %></h2>
<% @songs.each do |song| %>
<p><%= " '#{song.title}' by #{song.artist}" %></p>
<%          end %>


<br>
<br>
<h3><%= "View previous weeks' playlists..." %> </h3>
<a href="localhost:4567/previousplaylists/2016-06-12">June 12th</a>
