<!-- 
<h2><%= "Weekly Playlist"                             %></h2>
<%      @winners_list.each do |letter, songs|                                      %>
<h3><%=   letter                                                       %></h3>
<p><%=      "Title: #{songs.title}, Artist: #{songs.artist}"              %></p>
<%      end                                                                 %> -->
