<!-- <%      @songs.each do |letter, songs|                                      %>
<h3><%=   letter                                                       %></h3>
<%        songs.each do |song|                                              %>
<p><%=      "Title: #{song.title}, Artist: #{song.artist}"              %></p> -->
